version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: user-service-db
    environment:
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
      POSTGRES_DB: user_service_db
    ports:
      - "5432:5432"
    volumes:
      - user_db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U username -d user_service_db"]

      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  user_db_data: